.product-list {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding-top: 80rpx;
  box-sizing: border-box;
}

.mask{
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

/*选择*/
.choice-bar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  font-size: 16px;
  background-color: #fff;
  z-index: 9;
}

.chioce-item {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20rpx;
  width: 33.33%;
  height: 80rpx;
  border-top: 1rpx solid #ddd;
  border-bottom: 1rpx solid #ddd;
  border-left: 1rpx solid #ddd;
  /*border-right: 1rpx solid #ddd;*/
}

.chioce-item-last {
  border-right: none;
}

.chioce-item-first {
  border-left: none;
}

.icon-chioce {
  height: 30rpx;
  width: 30rpx;
}

.sorting-list{
  margin-top: 2rpx;
  position: absolute;
  top: 80rpx;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  font-size: 14px;
  border-bottom: 1rpx solid #ddd;
}

.chioce-list-show {
  top: 80rpx;
  animation: slide 500ms;
}

@keyframes slide {
  0% {
    top: -500rpx;
  }

  100% {
    top: 80rpx;
  }
}

.chioce-list-hide {
  display: none !important;
}

.sorting-item {
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 40rpx;
  border-bottom: 1rpx solid #ddd;
}